<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Impulso Code & Design </title>
  <link rel="stylesheet" href="../css/components.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/responsee.css">
  <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
  <!-- CUSTOM STYLE -->
  <link rel="icon" href="../img/logo_ico.png" type="image/x-icon">

  <link rel="stylesheet" href="../css/template-style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
  <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
</head>

 

  <body class="size-1520  primary-color-blue background-primary">
      <!-- HEADER -->
      <header class="grid">
        <!-- Top Navigation -->
        <nav class="s-12 grid background-none background-primary-hightlight">
           <!-- logo -->
          <a href="../index.html" class=" l-3 margin-left padding logo">
            <img src="../img/logo_impulso_hd2.svg">
          </a>

          <div class="top-nav text-dark s-12 l-9">
            <ul class="top-ul right chevron">
          
              <li><a href="../index.html">Home</a></li>
              <li><a href="../views/services.html">Paginas Web</a></li>
              <li><a href="../views/diseño.html">Diseño Grafico</a></li>
              <li><a href="../views/contact.html">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>
      
      <!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
        	<div class="s-12 padding-2x background-aqua text-white">
            <h1 class="text-strong text-center center text-size-60 text-uppercase margin-bottom-20">Quienes Somos</h1>
            <p class="text-size-30 text-center center text-uppercase">Expertos en soluciones web para tu crecimiento digital.</p>
          </div>
        </header>
  
        
        <!-- SECTION 1 -->
        <section class="grid">        
          <div class="m-12 l-6 text-dark padding-2x background-white">
            <h2 class="text-dark">Talento <strong>  SENA </strong> impulsando tu éxito digital</h2>
            <p>Somos un equipo de egresados del SENA, formados en las últimas tendencias de desarrollo web y diseño digital. Nuestra
            pasión por la tecnología y la creatividad nos impulsa a ofrecer soluciones innovadoras que impulsan el <strong>crecimiento de tu
            negocio.</strong> Confía en el talento SENA para llevar tu marca al siguiente nivel en el mundo digital..<br><br></p>
            <h2 class="text-dark">Soluciones web integrales para el<strong> crecimiento de tu marca</strong></h2>
            <p>Desde el diseño y desarrollo de tu sitio web, hasta la implementación de estrategias de marketing digital, te ofrecemos
            un<strong> servicio integral </strong>para potenciar tu marca en internet. Nos encargamos de cada detalle para que tu presencia online
            sea efectiva y te ayude a alcanzar tus objetivos de negocio. <br><br><p>
            <h2 class="text-dark">Tu aliado digital para alcanzar tus metas
</h2>
            <p>Te ayudamos a construir una <strong> estrategia digital integral</strong>, que abarca desde el
            diseño de tu logo y la creación de contenido para redes sociales, hasta el desarrollo de tu página web y el análisis de
            resultados. Nos involucramos en tu proyecto, entendemos tus necesidades y te acompañamos en cada paso del camino.<strong> Tu
            éxito es nuestra prioridad</strong> y trabajamos juntos para lograr tus metas digitales.
            <p>
          </div>
          
          <!-- Image-->
          <img class="l-6 hide-s hide-m" src="../img/img-011.jpg">
        </section>
        
        <!-- SECTION 2 -->
        <section class="grid margin margin-bottom padding-2x background-primary">
          <div class="s-12 m-6 l-3">
            <span class="timer text-size-50 text-white text-strong">100%</span>
            <h3 class="text-uppercase text-strong">Diseño Personalizado</h3>
            <p class="text-size-16 margin-m-bottom-20">Creamos diseños web 100% personalizados, adaptados a las necesidades de tu
              negocio.</p>
          </div>
          
          <div class="s-12 m-6 l-3">
            <span class="timer text-size-50 text-white text-strong">24/7</span>
            <h3 class="text-uppercase text-strong">Soporte Disponible</h3>
            <p class="text-size-16 margin-m-bottom-20">Estamos disponibles 24 horas al día, 7 días a la semana para brindarte
              soporte y asistencia.</p>
          </div>
          
          <div class="s-12 m-6 l-3">
            <span class="timer text-size-50 text-white text-strong">10+</span>
            <h3 class="text-uppercase text-strong">Años de Experiencia en Diseño</h3>
            <p class="text-size-16 margin-m-bottom-20">Nuestro equipo tiene más de 10 años de experiencia en diseño gráfico y web.
            </p>
          </div>
          
          <div class="s-12 m-6 l-3">
            <span class="timer text-size-50 text-white text-strong">100%</span>
            <h3 class="text-uppercase text-strong">Satisfacción Garantizada</h3>
            <p class="text-size-16 margin-m-bottom-20">Tu satisfacción es nuestra prioridad. Te garantizamos un servicio de alta
              calidad.</p>
          </div>
          </section>
        
        <!-- SECTION 3 -->
       
        <section class="grid margin padding hide-m">
          
          <h2 class="s-12 text-white text-thin text-size-30 text-dark text-uppercase margin-top-bottom-20 center text-center">Nuestro <b>Equipo</b></h2> 
        <div class="s-12 m-6 l-2 margin-bottom">
      
        </div>

        
          <div class="s-12 m-6 l-2 margin-bottom">
            <img src="../img/Alejandro.jpg" />
            <h4 class="background-primary padding text-strong">Alejandro Cordoba </h4>
            <p class="margin-bottom-10 text-primary text-center text-uppercase">Web Designer</p>
          </div>
          <div class="s-12 m-6 l-2 margin-bottom">
            <img src="../img/Andrea.jpg" />
            <h4 class="background-primary padding text-strong">Melisa Duque</h4>
            <p class="margin-bottom-10 text-primary text-center text-uppercase">Community Manager</p>
          </div>
          <div class="s-12 m-6 l-2 margin-bottom">
            <img src="../img/Jhonnathan.jpg" />
            <h4 class="background-primary padding text-strong">Jhonnathan Bernal</h4>
            <p class="margin-bottom-10 text-primary text-center text-uppercase">Web Developer</p>
          </div>
         
          <div class="s-12 m-6 l-2 margin-bottom">
         
       
          
          </div>
        
         
        
        </section>
       
      </main>
      
       
      <!-- FOOTER -->
      <footer class="grid hide-s">
        <!-- Footer - top -->
        <!-- Image-->
        <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url(../img/desarrollador.png)">
        </div>
      
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-aqua">
          <h2 class="text-strong text-uppercase">Quiénes Somos?</h2>
          <p>Somos una agencia de soluciones digitales, dedicada a crear experiencias web únicas. Nuestro equipo,
            conformado por egresados del SENA, combina creatividad y tecnología para ofrecer servicios web y otros servicios
            relacionados.
            Nos apasiona ayudar a nuestros clientes a destacar en el entorno digital, brindando
            soporte constante y adaptándonos a sus necesidades de crecimiento.</p>
        </div>
      
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-aqua">
          <h2 class="text-strong text-uppercase">Donde estamos?</h2>
          <img class="full-img" src="../img/map.svg" alt="" />
        </div>
      
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-aqua">
          <h2 class="text-strong text-uppercase">Contactanos</h2>
          <p>
            <i class="icon-smartphone text-primary margin-right-10"></i> 317 7433903
          </p>
          <p>
            <i class="icon-globe_black text-primary margin-right-10"></i> <a class="text-primary-hover"
              href="mailto:impulso.codeydesign@gmail.com">impulso.codeydesign@gmail.com</a>
          </p>
          <br>
            <p class="whatsapp-icon">
              <a href="https://api.whatsapp.com/send?phone=573177433903&text=Hola, Quisiera conocer más detalles sobre los servicios que brindan, especialmente en el área de:"
                target="_blank" rel="noopener noreferrer">
                <img src="../img/whatsapp-icon-2.png" alt="">
              </a>
            </p>
            
            <p class="whatsapp-icon">
              <a href="../views/Mantenimiento.html" target="_blank" rel="noopener noreferrer">
                <img src="../img/instagram-icon.png" alt="">
              </a>
            </p>
            
        </div>
      
      
        <!-- Footer - bottom -->
        <div class="s-12 text-center margin-bottom">
          <p class="text-size-12">Copyright 2024, Impulso Code & Design</p>
          <p class="text-size-12">Todas las imagenes son propiedad de Impulso Code & Design. Prohibido su uso no autorizado</p>
          <p>
              Design and coding by Responsee Team Editado por: Impulso Code & Design, Alejandro Cordoba</p>
        </div>
      </footer>
      <script type="text/javascript" src="../js/responsee.js"></script>
      <script type="text/javascript" src="../owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="../js/template-scripts.js"></script>
   </body>
</html>
../